.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 4%;
}
.navbar .logo{
    font-size: 1.5rem;
    font-weight: bold;
    color: #49557e;
    margin: 0;
}
.navbar .profile{
    width: 40px;
}
.login-conditon{
    font-size: 20px;
}